<div class="p-4 p-md-5 mb-4 text-white rounded bg-image" style="background-image: url('<%= article.banner %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="col-md-6 px-0">
    <div class="card mb-3 card-banner-title">
      <h1 class="display-4 fst-italic"><%= article.title %></h1>
    </div>
    <div class="card p-md-2 card-banner-body">
      <div class="mb-1 text-warning"><%= render 'article_detail', article: article %></div>
      <p class="lead my-3"><%= truncate(article.body, length: 100) %></p>
      <p class="lead mb-0">
        <%= link_to 'Continue reading... ', article, class: 'text-white fw-bold' %>
      </p>
    </div>
  </div>
</div>
