<%= render_if @highlights[0].present?, 'longer_feature', article: @highlights[0] %>
<div class="row mb-2">
  <%= render_if @highlights[1].present?, 'medium_feature', article: @highlights[1] %>
  <%= render_if @highlights[2].present?, 'medium_feature', article: @highlights[2] %>
</div>
<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      My last comments
    </h3>
    <p><%= link_to 'New Article', new_article_path,
    class: 'btn btn-success' if user_signed_in? %></p>
    <%= render @articles %>
    <%= render 'pagination' %>
  </div>
  <%= render 'right_side' %>
</div>
<%= content_for :category_filter do %>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <% @categories.each do |c| %>
        <%= link_to c.name, root_path(category: c.name),
        class: "p-2 link-secondary #{'category-active' if c.name.to_s == params[:category]}"%>
      <% end %>
    </nav>
  </div>
<% end %>
